#sidebar-container{
    background-color: #5861AE;
    display: flex;
    flex-direction: column;
    width: 50px;
    min-height: 600px;
    height:auto;
}
#more{
    background: white;
}
.icons{
    width: 100%;
    text-align: center;
    height: 70px;
    justify-content: center;
    display: flex;
}